name: Build and test on macOS

on:
  push:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build:
    name: Build and test
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup
        run: |
          brew install json-c libmd libyaml

      - name: Build
        run: |
          mkdir build
          cd build
          cmake \
            -D CMAKE_PREFIX_PATH="$(brew --prefix)" \
            -D UNIT_TESTING=ON \
            -D NL80211_SUPPORT=OFF \
            -D RTNL_SUPPORT=OFF \
            -D UBUS_SUPPORT=OFF \
            -D UCI_SUPPORT=OFF \
            -D ULOOP_SUPPORT=OFF \
            ..
          make

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: macos-build
          if-no-files-found: ignore
          path: |
            build/
